@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1643037251548') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-showpassword:before {
  content: "\ea3f";
}

.icon-users:before {
  content: "\e651";
}

.icon-3702mima:before {
  content: "\e66c";
}

.icon-icon_user:before {
  content: "\e642";
}

.icon-shangpin:before {
  content: "\e888";
}

.icon-danju:before {
  content: "\e89b";
}

.icon-tijikongjian:before {
  content: "\e89f";
}

.icon-morentouxiang:before {
  content: "\e8c9";
}

.icon-baobiao:before {
  content: "\e902";
}

.icon-lock-fill:before {
  content: "\e7b9";
}

